body {
    font-family: sans-serif;
    text-align: center;
    padding: 3rem;
    font-size: 1.125rem;
    line-height: 1.5;
    transition: all 725ms ease-in-out;
    background-color: #000;
}

#canvas {
    background-color: #9bf;
}

#manual {
    background-color: #9bf;
}
